{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to FlaskBlog {% endblock %}</h1>
 <form action="{{ url_for('handle_data') }}" method="post">
    <label for="dep">Choose a dep:</label>
  <select name="dep" id="dep">
    <option value="it">IT</option>
    <option value="ec">EC</option>
    <option value="eee">EEE</option>
    <option value="mech">MECH</option>
  </select>
  <br><br>
  <label for="sem">Choose a semester:</label>
  <select name="sem" id="sem">
    <option value="2">2</option>
    <option value="4">4</option>
    <option value="6">6</option>
    <option value="8">8</option>
  </select>
  <br><br>
  <label for="Subject">Choose a subject:</label>
  <select name="sub" id="sub">
    <option value="it_305">it_305</option>
    <option value="ec_453">ec_453</option>
    <option value="eee_678">eee_678</option>
    <option value="mech_999">mech_999</option>
  </select>
  <br><br>
  
  <input type="submit" value="Submit">
</form>
{% endblock %}
